package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import java.util.List;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * <p>
 * $!{table.comment.replace("表", "")} 服务类
 * </p>
 *
 * @author ${author}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

	/**
     * 分页业务方法
     * @param query　分页参数
     * @return IPage
     */
	IPage<$!{entity.replace("Entity", "DTO")}> page($!{entity.replace("Entity", "PageReq")} query);

    /**
    * 新增
    * @param $!{table.entityPath.replace("Entity", "Req")}　新增参数
    */
    void create($!{entity.replace("Entity", "Req")} $!{table.entityPath.replace("Entity", "Req")});

    /**
    * 修改
    * @param $!{table.entityPath.replace("Entity", "Req")}　修改参数
    */
    void update($!{entity.replace("Entity", "Req")} $!{table.entityPath.replace("Entity", "Req")});

    /**
    *
    * 删除
    *
    * @param deleteIds　删除的id集合
    */
    void batchDelete(List<String> deleteIds);

}
#end
